<?xml version="1.0" encoding="UTF-8"?>

<routes>
<!--Module Users-->
<route action="index" module="Users" url="/"/>
<route action="createAccount" module="Users" url="/update-account-([0-9]+)\.html" vars="id"/>
<route action="updateAccount" module="Users" url="/create-account\.html"/>
<route action="updatePass" module="Users" url="/update-pass-([0-9a-zA-Z]+)\.html" vars="userName"/>
<route action="seeAccount" module="Users" url="/see-account-([0-9]+)\.html"  vars="id"/>
<route action="disconnect" module="Users" url="/disconnect\.html" vars="id"/>

<!--Module Products-->
<route action="showProducts" module="Products" url="/show-products\.html"/>
<route action="showProduct" module="Products" url="/show-product-([0-9]+)\.html" vars="id"/>
<route action="likeProduct" module="Products" url="/like-product-([0-9]+)\.html" vars="id"/>
<route action="commentProduct" module="Products" url="/comment-product-([0-9]+)\.html" vars="id"/>
</routes>

